/Restaurants.API/appsettings.Development.json
/Restaurants.API/bin
/Restaurants.API/obj
/Restaurants.Application/bin
/Restaurants.Application/obj
/Restaurants.Domain/bin
/Restaurants.Domain/obj
/Restaurants.Infrastructure/bin
/Restaurants.Infrastructure/obj
/.idea
